.movie-row-title {
  margin: 0 0 0 50px;
  font-size: 38px;
}

.movie-row-item {
  padding: 35px 0 50px 0;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin-left: 50px;
  transition: all 0.5s ease;
}

.movie-row-item.hidde {
  margin-left: 0;
  transition: all 0.5s ease;
}

.movie-row-item::-webkit-scrollbar {
  display: none;
}

.movie-row-poster {
  object-fit: contain;
  max-width: 445px;
  margin-right: 10px;
  border-radius: 4px;
  transition: all 0.5s ease;
}

/* .movie-row-poster:hover:nth-child(1) {
  margin-left: 20px;
} */

.movie-row-poster:hover {
  transform: scale(1.1);
  cursor: pointer;
  border-radius: 8px;
}

.movie-row-poster-large {
  max-width: 445px;
}

.movie-row-poster-large:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Material Arrow icons */
.movie-row-left > .MuiSvgIcon-root {
  margin-left: 20px;
  font-size: 40px;
}

.movie-row-right > .MuiSvgIcon-root {
  font-size: 40px;
}

.movie-row-left,
.movie-row-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  height: 323px;
  width: 50px;
  z-index: 3;
  opacity: 0;
  transition: all 0.5s;
}

.movie-row:hover .movie-row-left,
.movie-row:hover .movie-row-right {
  opacity: 1;
}

.movie-row-left.closed {
  display: none;
}

.movie-row-left {
  background-image: linear-gradient(-90deg, transparent, rgba(0, 0, 0, 0.3), #000000ad);
  left: 0;
}

.movie-row-right {
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.3), #000000ad);
  right: 0;
}

.movie-row-left-large,
.movie-row-right-large {
  height: 736px;
}
